.dotter/cache
.dotter/cache.toml
wallpaper/bg.png
utils/wofi/colors.css
decor/waybar/colors.css
decor/wlogout/colors.css
decor/hypr/colors-hyprland.conf
utils/kitty/colors.conf
utils/alacritty/colors.toml
wallpaper
utils/swaylock
