@define-color foreground #c2c1c4;
@define-color background #0c0916;
@define-color cursor #c2c1c4;

@define-color color0 #0c0916;
@define-color color1 #421c76;
@define-color color2 #46299d;
@define-color color3 #2d3890;
@define-color color4 #4d3faa;
@define-color color5 #8737a5;
@define-color color6 #7440ad;
@define-color color7 #8f8d98;
@define-color color8 #5e596c;
@define-color color9 #58269E;
@define-color color10 #5E37D2;
@define-color color11 #3D4BC0;
@define-color color12 #6754E3;
@define-color color13 #B44ADD;
@define-color color14 #9B56E7;
@define-color color15 #c2c1c4;
