@define-color foreground #c4c7ca;
@define-color background #13202c;
@define-color cursor #c4c7ca;

@define-color color0 #13202c;
@define-color color1 #704353;
@define-color color2 #9e3343;
@define-color color3 #8d605e;
@define-color color4 #745c63;
@define-color color5 #7c666c;
@define-color color6 #856b6d;
@define-color color7 #949a9f;
@define-color color8 #626e77;
@define-color color9 #965A6F;
@define-color color10 #D3455A;
@define-color color11 #BD807E;
@define-color color12 #9B7B84;
@define-color color13 #A68991;
@define-color color14 #B28F92;
@define-color color15 #c4c7ca;
