@import "colors.css";

* {
	border: none;
	border-radius: 0px;
	font-family: 'Lilex Nerd Font';
	font-size: 20px;
	min-height: 0;
	margin: 0px 0px 0px 0px;
}
window#waybar {
	background-color: alpha(@color3, 0.2);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
	margin: 0px;
	padding: 0;
}
#custom-wofi {
	background-color: @background;
	color: white;
	margin: 10px 0px 5px 20px;
	border-radius: 20px;
	padding: 4px 12px 4px 10px;
}
#clock {
	background-color: @background;
	color: white;
	margin: 10px 20px 5px 0px;
	border-radius: 20px;
	padding: 4px 12px;
}
#workspaces button {
	background-color: @background;
	color: #ffffff;
	font-size: 20px;
	margin: 10px 0px 5px 0px;
	padding: 0px 6px;
}
#workspaces button:last-child {
	border-radius: 0 20px 20px 0;
	padding-right: 9px;
}
#workspaces button:first-child {
	border-radius: 20px 0 0 20px;
	padding-left: 9px;
}
#workspaces button.active {
	background-color: @color11;
}
