@import "colors.css";

* {
	border: none;
	border-radius: 0px;
	font-family: 'Lilex Nerd Font';
	color: white;
	font-size: 20px;
	min-height: 0px;
	background-color: transparent;
}
window#waybar {
	all: unset
}
#custom-wofi {
	background-color: alpha(@color3, 0.4);
	margin: 10px 0px 10px 20px;
	border-radius: 20px;
	padding: 0px 15px 0px 10px;
}
#clock {
	background-color: alpha(@color3, 0.4);
	margin: 10px 20px 10px 0px;
	border-radius: 20px;
	padding: 5px 15px;
}
#workspaces button {
	font-size: 20px;
	background-color: alpha(@color3, 0.4);
	margin: 10px 0px 10px 0px;
	border-radius: 0px;
	padding: 8px 8px;
}
#workspaces button.hover {
	background-color: alpha(@color3, 0.4);
}
#workspaces button:last-child {
	border-radius: 0px 20px 20px 0px;
	padding-right: 10px;
}
#workspaces button:first-child {
	border-radius: 20px 0px 0px 20px;
	padding-left: 10px;
}
#workspaces button.active {
	background-color: alpha(@color4, 0.7);
}
#workspaces button.urgent {
	background-color: alpha(@color3, 0.3);
}
