@define-color foreground #c6c2c4;
@define-color background #1c0c13;
@define-color cursor #c6c2c4;

@define-color color0 #1c0c13;
@define-color color1 #568d8d;
@define-color color2 #518597;
@define-color color3 #5897a0;
@define-color color4 #6e8085;
@define-color color5 #788a90;
@define-color color6 #6c9b9d;
@define-color color7 #998f93;
@define-color color8 #705b63;
@define-color color9 #73BDBD;
@define-color color10 #6DB2CA;
@define-color color11 #76CAD6;
@define-color color12 #93ABB2;
@define-color color13 #A1B9C1;
@define-color color14 #90CFD2;
@define-color color15 #c6c2c4;
