@define-color foreground #c3c4cc;
@define-color background #101534;
@define-color cursor #c3c4cc;

@define-color color0 #101534;
@define-color color1 #236f51;
@define-color color2 #3f7b55;
@define-color color3 #6b7f5c;
@define-color color4 #183f64;
@define-color color5 #2d7871;
@define-color color6 #6b8b6c;
@define-color color7 #9597a0;
@define-color color8 #63667a;
@define-color color9 #2F946C;
@define-color color10 #54A572;
@define-color color11 #8FAA7B;
@define-color color12 #215586;
@define-color color13 #3CA197;
@define-color color14 #8FBA91;
@define-color color15 #c3c4cc;
