@import ".config/wofi/colors.css";
* {
	font-family: "JetBrainsMono Nerd Font"
}

window {
    background-color: alpha(@background,.3);
}
#inner-box {
    margin: 10px;
    border: none;
    background-color: alpha(@background,0);
}
#outer-box {    
    border: 2px;
    border-radius: 5;
    background-color: alpha(@background,0);
}
#input {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    padding: 15px;
    border: 5px;
    outline: none;
    color: @color11;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,0.2);
}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: 0px;
    border-radius: 20px;
    background-color: alpha(@background,0.2);
}
#entry:selected #text {
    color: @color3;
}
#entry {
    border: none;
    margin: 5px;
    padding: 5px;
    color: @color7;
}
