@import "colors.css";
* {
	border: none;
	border-radius: 0px;
	font-family: 'JetBrains Mono Nerd Font Propo';
	/*
	font-family: 'Lilex Nerd Font Propo';
	font-family: 'JetBrains Mono Nerd Font';
	 */
	color: white;
	font-size: 20px;
	min-height: 0px;
	background-color: transparent;
}
.module {
	margin-bottom: 5px;
	background-color: transparent;
}
.modules-left {
	border-radius: 20px;
	/*Top left then Top Right then Bottom Right then Bottom Left*/
	background-color: alpha(@color3, 0.4);
	margin: 10px 10px 0px 0px;
	padding: 10px 5px 10px 6px
	/*Top then Right ten Bottom then Left*/
}
window#waybar {
	all: unset
}
#custom-wofi {
	/* ( background-color: alpha(@color3, 0.4); */
	/*Top left then Top Right then Bottom Right then Bottom Left*/
	/*Top then Right ten Bottom then Left*/
	padding-left: 0px;
	padding-right: 0px
}
#network {
	padding-right: 0px;
	padding-left: 0px;
}
#workspaces button {
	font-size: 20px;
	background-color: alpha(@color3, 0.4);
	margin: 0px 10px 0px 0px;
	border-radius: 0px;
	padding: 8px 8px;
}
#workspaces button.hover {
	background-color: alpha(@color3, 0.4);
}
#workspaces button:last-child {
	border-radius: 0px 0px 20px 20px;
	padding-top: 10px;
}
#workspaces button:first-child {
	border-radius: 20px 20px 0px 0px;
	padding-bottom: 10px;
}
#workspaces button.active {
	background-color: alpha(@color4, 0.6);
}
#workspaces button.urgent {
	background-color: alpha(@color3, 0.3);
}
#clock {
	background-color: alpha(@color3, 0.4);
	margin: 0px 10px 20px 0px;
	border-radius: 20px;
	padding: 8px 8px;
}
