@import "colors.css";
* {
	border: none;
	border-radius: 0px;
	font-family: '{{font}}';
	/*
	font-family: 'Lilex Nerd Font Propo';
	font-family: 'JetBrains Mono Nerd Font';
	 */
	color: white;
	font-size: {{lfsize}}px;
	min-height: 0px;
	background-color: @background;
}
.module {
	margin-bottom: 5px;
	background-color: transparent;
}
.modules-left {
	border-radius: 20px;
	/*Top left then Top Right then Bottom Right then Bottom Left*/
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	/*Top then Right ten Bottom then Left*/
}
window#waybar {
	all: unset
}
#custom-wofi {
	/* ( background-color: @color3; */
	/*Top left then Top Right then Bottom Right then Bottom Left*/
	/*Top then Right ten Bottom then Left*/
	padding-left: 0px;
	padding-right: 0px;
  margin: 0px 10px 0px 10px
}
#pulseaudio {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px 10px 0px 10px;
}
#network {
	padding-right: 0px;
	padding-left: 0px;
  margin: 0px 15px 0px 0px
}
#workspaces button {
	font-size: {{lfsize}}px;
	background-color: @color3;
	margin: 0px 10px 0px 0px;
	border-radius: 0px;
	padding: 8px 8px;
}
#workspaces button.visible {
	background-color: @color3;
}
#workspaces button:last-child {
	border-radius: 0px 0px 20px 20px;
	padding-top: 10px;
}
#workspaces button:first-child {
	border-radius: 20px 20px 0px 0px;
	padding-bottom: 10px;
}
#workspaces button.active {
	background-color: @color4;
}
#workspaces button.urgent {
	background-color: @color3;
}
#clock {
	background-color: @background;
	margin: 10px 10px 0px 0px;
	border-radius: 20px;
}
