@define-color foreground #c2c5c5;
@define-color background #0b1719;
@define-color cursor #c2c5c5;

@define-color color0 #0b1719;
@define-color color1 #b3645d;
@define-color color2 #8d5469;
@define-color color3 #9e5b6f;
@define-color color4 #ad5a66;
@define-color color5 #b16a6c;
@define-color color6 #b27b75;
@define-color color7 #8e9799;
@define-color color8 #5a6c6e;
@define-color color9 #EF867D;
@define-color color10 #BC718C;
@define-color color11 #D37A95;
@define-color color12 #E77989;
@define-color color13 #EC8E90;
@define-color color14 #EEA59C;
@define-color color15 #c2c5c5;
