@define-color foreground #c9c3c5;
@define-color background #2a121a;
@define-color cursor #c9c3c5;

@define-color color0 #2a121a;
@define-color color1 #7e2d33;
@define-color color2 #6f3639;
@define-color color3 #843938;
@define-color color4 #9a3c36;
@define-color color5 #a54f3c;
@define-color color6 #b1734b;
@define-color color7 #9e9497;
@define-color color8 #766169;
@define-color color9 #A93C44;
@define-color color10 #95494D;
@define-color color11 #B04C4B;
@define-color color12 #CE5049;
@define-color color13 #DD6A50;
@define-color color14 #ED9A64;
@define-color color15 #c9c3c5;
