@define-color foreground #c4c6cc;
@define-color background #161d35;
@define-color cursor #c4c6cc;

@define-color color0 #161d35;
@define-color color1 #223679;
@define-color color2 #41417e;
@define-color color3 #26489a;
@define-color color4 #3e549c;
@define-color color5 #7e5082;
@define-color color6 #4a69a6;
@define-color color7 #989aa1;
@define-color color8 #656b7c;
@define-color color9 #2E49A2;
@define-color color10 #5757A8;
@define-color color11 #3361CE;
@define-color color12 #5371D0;
@define-color color13 #A86BAE;
@define-color color14 #638DDE;
@define-color color15 #c4c6cc;
