@import "{{home}}/.config/wofi/colors.css";
/* @import "../.config/wofi/colors.css"; */
* {
	font-family: "{{font}}";
  font-size: {{fsize}}px
}

window {
    background-color: @background;
    outline: none;
    border: none;
}
#inner-box {
    margin: 10px;
    border: none;
    background-color: @background;
}
#outer-box {    
    border: 0px;
    border-radius: 5px;
    background-color: @background;
}
#input {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    padding: 15px;
    border: none;
    outline: none;
    color: @color11;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10px;
    background-color: @background;
}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 20px;
    background-color: @background;
}
#entry:selected #text {
    color: @color3;
}
#entry {
    border: none;
    margin: 5px;
    padding: 5px;
    color: @color7;
}
